---
import { navigation } from "@/config/navigation";
---

<ul class="flex flex-col md:flex-row gap-6 md:gap-8">
  {
    navigation.map((item) => (
      <li>
        <a
          href={item.href}
          class="block hover:text-stone-600 transition-colors"
        >
          {item.title}
        </a>
      </li>
    ))
  }
</ul>
